html[dir="ltr"].myCustomApp.myCustomButton.sapMBtn{
    margin-right: 0.125rem
}
html[dir="rtl"].myCustomApp.myCustomButton.sapMBtn{
    margin-left:0.125rem
}

.myCustomApp.myCustomText{
    display: inline-block;
    font-weight: bolder;
}